


h1 {
	text-align: center;
	font-size: 40px;
}

h2 {
	justify-content:flex-end;

}

img{
	size: 20px;
}

.flex{
	display: flex;
	justify-content: space-around;
}

.head{
	background-image: url("https://i.ytimg.com/vi/T3UGvz-AG2w/maxresdefault.jpg");
	padding: 80px;
	height: 350px;
	font-family: 'Montserrat Alternates', sans-serif;
	color:#279AAF;
}

#relative {
position: relative;
}
#absolute {
background:white;
position: absolute;
top:10px;
left:10px;
border-radius: 5px;
}

.modal-footer {
	position: center;
}

.section {
  padding: 100px 10px;
  background: #D8BBA9;
}

.section h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  margin-bottom: 50px;
}

.section h4 {
  font-size: 20px;
}

.section p {
  font-size: 14px;
}

.van-picture {
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}

.contact {
  color:white;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align:center;
  background: #5B5964;
  padding: 20px;
}

